@import "normailze.css";

:root   {
    --lighter-blue: hsla(216, 50%, 80%, 1);
    --light-blue: hsla(216, 41%, 70%, 1);
    --dark-blue: hsla(216, 41%, 30%, 1);
    --dark-gray: hsla(0, 0%, 10%, 1);
    --mid-gray: hsla(0, 0%, 20%, 1);
    --mid-blue: hsla(196, 68%, 60%, 1);
    --light-gray: hsla(180, 1%, 70%, 1);
    --lighter-gray: hsla(180, 1%, 90%, 1);
    --orange: rgb(255, 166, 97);
}

html    {
    display: flex;
    min-height: 100%;
    box-sizing: border-box;
    margin: 0;
}

::before,
::after {
    box-sizing: border-box;
}

*   {
    margin: 0;
    padding: 0;
}

body    {
    display: flex;
    flex-flow: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: var(--dark-gray);
    min-height: 100%;
    max-width: 100%;
}

.navbar {
    display: flex;
    background-color: var(--dark-gray);
    height: 40px;
    max-width: 100%;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1000;
    place-items: center;
    padding: 5px 1rem;
}

.navbar svg {
    margin: auto;
    fill: var(--lighter-blue)
}

.navbarLogo {
    display: flex;
    place-items: center;
    margin: 0;
}

.iconHide   {
    display: none;
}

.buttonNav0  {
    position: relative;
    display: flex;
    margin-right: 0;
    margin-left: auto;
    height: 40px;
    place-items: center;
    padding: 0 1rem;
    border-radius: 1rem;
    background-color: var(--mid-gray);
}

.buttonNav0 a{
    display: flex;
    flex-direction: row;
    place-items: center;
    text-decoration: none;
    color: var(--lighter-blue);
    font-weight: bold;
    gap: 1rem;
    transition-duration: .4s;
}

.buttonNav0:hover a{
    color: var(--orange);
}

.iconButton   {
    position: relative;
    display: None;
    width: 40x;
    height: 40px;
    margin-left: auto;
    margin-right: 0;
    background-color: transparent;
}

.buttonNav   {
    display: none;
    margin: 0;    
    width: 40px;
    height: 40px;
    fill: var(--lighter-blue);
}

.buttonNav:hover    {
    cursor: pointer;
    fill: var(--orange);
    transition-duration: .4s;
}

.iconHide:checked ~ .iconButton .buttonNav  {
    fill: var(--orange);
}

.iconHide:checked ~ .iconButton svg rect:first-child  {
    animation-name: buttonNav;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

.iconHide:checked ~ .iconButton svg rect:nth-child(2)  {
    animation-name: buttonNav1;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

.iconHide:checked ~ .iconButton svg rect:last-child  {
    animation-name: buttonNav2;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

.iconHide:checked ~ .iconButton .navMenu  {
    transition-duration: .4s;
    transform: scale(1,1);
}

.linksMenu   {
    opacity: 0;
}

.iconHide:checked ~ .iconButton .navMenu > .linksMenu {
    opacity: 1;
}

.navMenu   {
    display: flex;
    position: absolute;
    top: 100%;
    margin-top: 5px;
    flex-direction: column;
    right: -5px;
    transform: scale(1,0);
    transform-origin: top;
    background-color: var(--light-gray);
}

.linksMenu  {
    padding: 15px 20px;
    background-color: var(--light-gray);
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
}

.linksMenu:hover  {
    background-color: var(--dark-gray);
    color: var(--orange);
    transition-delay: 0s;
    transition-duration: .4s;
}

.container  {
    position: relative;
}

.wrap1  {
    position: relative;
    display: flex;
    width: 100%;
    background-color: var(--mid-gray);
    overflow: hidden;
}

.wrap1Content   {
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    place-items: center;
    flex-shrink: 0;
    margin-bottom: 55px;
}

.wrap1Img   {
    justify-content: center;
    place-items: center;
    display: flex;
    margin: 1rem 0 0;
}

.wrap1Img1  {
    max-width: 100%;
    background-color: var(--mid-gray);
}

.wrap1Tittle  {
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.8rem;
    color: var(--orange);
}

.wrap1Text  {
    display: flex;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    font-size: 0.9rem;
    line-height: 0.9rem;
    color: var(--light-gray);
    flex-direction: column;
    gap: 1rem;
    line-height: 1.3rem;
    padding: 1rem;
    background-color: hsla(0, 0%, 10%, 1);

}

.wrap1Menu  {
    position: absolute;
    width: 100%;
    bottom: 0;
    top: auto;
    display: flex;
    justify-content: space-around;
    background-color: var(--dark-gray);
    padding: 5px 0;
}

.iconWrap1  {
    fill: var(--lighter-blue);
    opacity: .3;
}

#iconWrap2  {
    fill: var(--dark-gray);
    transition-duration: .4s;
}

#iconWrap2:hover    {
    cursor: pointer;
}

.iconWrap1:hover    {
    fill: var(--orange);
    transition-duration: .4s;
    cursor: pointer;
    opacity: 1;
}

.wrap2  {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--dark-gray);
    gap: 1rem;
}

.wrap2Content1   {
    display: flex;
    width: 100%;
    background-image: url(img/obraCivil.png);
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    height: 23rem;
    overflow: scroll;
}

.wrap2Content2   {
    display: flex;
    width: 100%;
    background-image: url(img/tratamientoAgua.png);
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    height: 23rem;
    overflow: scroll;
}

.wrap2Content3   {
    display: flex;
    width: 100%;
    background-image: url(img/conduccionAgua.png);
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    height: 23rem;
    overflow: scroll;
}

.wrap2Info  {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    background-color:hsla(0, 0%, 20%, .75)
}

.wrap2Tittle    {
    color: var(--orange);
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.7rem;
    text-align: center;
}

.wrap2Text  {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: var(--lighter-gray);
    font-size: .92rem;
    line-height: 1.1rem;
}

.wrap2Text p{
    margin-left: 2rem;
}

.wrap2TextLi    {
    margin-left: 2rem;
    color: white;
    line-height: 1.4rem;
}

.wrap3  {
    display: flex;
    flex-direction: column;
    background-color: var(--mid-gray);
    padding: 3rem 1rem;
}

.wrap3Content   {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    place-items: center;
}

.wrap3Tittle {
    font-size: 1.8rem;
    color: white;
}

.wrap3Text  {
    text-align: center;
    font-size: 1rem;
    color: var(--light-gray);
}

.contactos  {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.buttonTeleX    {
    position: absolute;
    margin-top: -12%;
    margin-left: 80%;
}

.telefono   {
    display: none;
    position: absolute;
    color: white;
    flex-direction: column;
    place-items: center;
    gap: 1rem;
    background-color: hsla(0, 0%, 10%, .9);
    padding: 3rem;
    width: 20ch;
    transform: translate(-40.5%, -25%);
    transition-duration: .4s;
    border: solid var(--orange) 3px;
    line-height: 1.5rem;
}

.footer {
    display: flex;
    width: 100%;
    height: 6.5rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-gray);
    gap: .5rem;
}

.footerText {
    font-size: 0.6rem;
    color: var(--light-gray);
}

@keyframes buttonNav {
    0% {transform: rotate(0deg) translate(0);}
    100% {transform: rotate(45deg) translate(20%,-23%);}
}

@keyframes buttonNav1   {
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes buttonNav2   {
    0% {transform: rotate(0deg) translate(0);}
    100% {transform: rotate(-45deg) translate(-50%,-9%);}
}

@media (min-width: 500px) {
    .wrap1Text  {
        padding: 6%;
    }
    .wrap2Info,
    .wrap3  {
        padding: 6%;
    }
    .wrap1Img   {
        justify-content: center;
        align-items: center;
    }
    .wrap2Info  {
        padding-top: 6%;
        padding-bottom: 6%;
    }
    .wrap2Text  {
        place-items: center;
    }
    .wrap2Text p    {
        margin: 0;
    }
    .wrap3Text  {
        text-align: center;
        width: 30ch;
    }
}

@media (min-width: 540px) {
    .wrap1Content{
        margin-bottom: 0;
    }
    .wrap1Menu  {
        bottom: 45%;
        background-color: transparent;
    }
    .iconWrap1  {
        opacity: 1;
    }
    #iconWrap2  {
        opacity: 0;
    }
    .wrap2Info,
    .wrap3  {
        padding-left: 8%;
        padding-right: 8%;
    }
    .wrap3 {
        padding-top: 10%;
        padding-bottom: 10%;
    }
    .wrap1Img   {
        justify-content: center;
        align-items: center;
        margin-top: 8%;
    }
    .wrap1Img1{
        max-width: 96%;
    }
    .wrap2Info  {
        padding-top: 8%;
        padding-bottom: 8%;
    }
    .wrap2Content3  {
        background-size: 100%;
    }
}

@media (min-width: 570px)   {
    .wrap2Content1  {
        background-size: 100%;
    }
}

@media (min-width: 650px)   {
    .container  {
        margin-bottom: 1rem;
    }
    .wrap1Content   {
        width: 100%;
        flex-direction: row;
        gap: 0;
        height: 23rem;
    }
    .wrap1Img   {
        margin: 0;
        padding: 0;
        width: 70%;
        overflow: hidden;
    }
    .wrap1Img1  {
        border-radius: 0;
        max-width: 200%;
        width: 170%;
        flex-shrink: 0;
        background-color: var(--dark-gray);
    }
    .wrap1Text  {
        width: 30%;
        height: 100%;
        margin: 0;
        padding: 2rem;
        border-radius: 0;
        justify-content: center;
        align-items: center;
        background-color: var(--mid-gray);
    }
    .wrap1Menu  {
        margin-left: 2.5%;
        margin-right: 2.5%;
        max-width: 95%;
        justify-content: space-between;
        padding: 0;
    }
    .iconWrap1  {
        opacity: .3;
    }
    .wrap1Tittle,
    .wrap2Tittle,
    .wrap3Tittle    {
        font-size: calc(1.6rem + 1vw);
        line-height: 2rem;
    }
    .wrap1Text,
    .wrap2Text,
    .wrap3Text  {
        font-size: calc(0.6rem + 1vw);
    }
    .wrap2Info  {
        gap: 2rem;
    }
    .wrap2TextLi    {
        line-height: 2rem;
    }
    .footerText {
        font-size: .9rem;
    }
}

@media (min-width: 671px)   {
   
    .wrap2Content2  {
        background-size: 100%;
    }
}

@media (min-width: 768px)   {
    .wrap1Content,
    .wrap2Content1,
    .wrap2Content2,
    .wrap2Content3  {
        height: 28rem;
    }
    .wrap2Content1  {
        background-size: auto;
    }
    .wrap2Content2  {
        background-size: auto 100%;
    }
    .wrap1Tittle,
    .wrap2Tittle,
    .wrap3Tittle    {
        font-size: calc(1.6rem + 1vw);
        line-height: 2.2rem;
    }
    .wrap1Text,
    .wrap2Text,
    .wrap3Text  {
        font-size: calc(0.6rem + 1vw);
        line-height: 1.5rem;
    }
    .contactosIcon:hover    {
        transform: scale(1.1);
        transition-duration: .4s;
    }
}

@media (min-width: 820px)   {
    .wrap1Content,
    .wrap2Content1,
    .wrap2Content2,
    .wrap2Content3  {
        height: calc(30rem + 1vw);
    }
    .wrap2Content1  {
        background-size: auto;
    }
    .wrap2Content2  {
        background-size: auto 100%;
    }
}

@media (min-width: 890px)   {
    .wrap1Content   {
        height: 34rem;
    }
    .wrap2  {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .wrap2Content1,
    .wrap2Content2  {
        width: 49%;
        overflow: hidden;
    }
    .wrap2Content3  {
        width: 100%;
        overflow: hidden;
    }
    .wrap1Tittle,
    .wrap2Tittle,
    .wrap3Tittle    {
        font-size: 2.6rem;
        line-height: 3rem;
    }
    .wrap1Text,
    .wrap2Text,
    .wrap3Text  {
        font-size: 1.3rem;
        line-height: 2rem;
    }
    .wrap2Info  {
        gap: 2rem;
    }
    .wrap2TextLi    {
        line-height: 2rem;
    }
    .footerText {
        font-size: .9rem;
    }
}

@media (min-width: 1000px)  {
    .wrap1Img   {
        width: 70%;
    }
    .wrap1Img1  {
        max-width: 200%;
        max-height: 200%;
        width: 150%;
    }
    .wrap1Text  {
        width: 30%;
    }
}

@media (min-width: 1300px) {
    .wrap1Img   {
        width: 60%;
    }
    .wrap1Text  {
        width: 40%;
    }
    .contactos  {
        gap: 7rem;
    }
}

@media (min-width: 1500px)    {
    .wrap1Img1  {
        width: 110%;
    }
}

@media (min-width: 1800px)    {
    .wrap1Img1  {
        max-width: 100%;
        max-height: 100%;
        width: 100%;
    }
}